# Do not include real secret values in this file.
# Copy this file to .drone.sec.yml and complete it there.
# Commit this so all developers know what variables are required to run the application if they update .drone.sec.
---
environment:
  EXAMPLE_SECRET: # set-secret-value-here
  # Notice the indentation/alignment of each line in GOOGLE_CREDENTIALS.
  # They are all the same - this is necessary!
  GOOGLE_CREDENTIALS_DEV: >
    {
    "type": "service_account",
    "project_id": "",
    "private_key_id": "",
    "private_key": "",
    "client_email": "",
    "client_id": "",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://accounts.google.com/o/oauth2/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_x509_cert_url": ""
    }
  GOOGLE_CREDENTIALS_PRD: >
    {
    "type": "service_account",
    "project_id": "",
    "private_key_id": "",
    "private_key": "",
    "client_email": "",
    "client_id": "",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://accounts.google.com/o/oauth2/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_x509_cert_url": ""
    }
  ANOTHER_SECRET: # set-secret-value-here
